In [1]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException

# 1.Python program to scrape the details(Rank,name,artist,upload date,views) of most viewed videos on YouTube from Wikipedia.

In [2]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
video_name=[]
video_rank=[]
artist_name=[]
video_views=[]
upload_date=[]
video_name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[:30]
video_rank_tags=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
artist_name_tags=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
video_views_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]')
upload_date_tags=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')

for i in range(len(video_name_tags)):
    video_name.append(video_name_tags[i].text)
    video_rank.append(video_rank_tags[i].text)
    artist_name.append(artist_name_tags[i].text)
    video_views.append(video_views_tags[i].text)
    upload_date.append(upload_date_tags[i].text)
    
# print total length    
print(len(video_rank),len(video_name),len(artist_name),len(video_views), len(upload_date))
# creating a dataframe
df_videos=pd.DataFrame({'Rank':video_rank, 'Name':video_name, 'Artist ': artist_name,'Views':video_views , 'Upload Date':upload_date})
df_videos

30 30 30 30 30

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.05,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.57,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.88,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.74,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.08,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.79,"November 19, 2014"
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.76,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.64,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.18,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.80,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.70,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.70,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.67,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.53,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.42,"February 20, 2014"
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.40,"June 4, 2010"
22,23.,"""Faded""[43]",Alan Walker,3.38,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.36,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.35,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.33,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.31,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.31,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.24,"June 14, 2018"

In [4]:
# close the automated driver window
driver.close()

# 2. Python program to Scrape the details of team India’s international fixtures from bcci.tv.

In [5]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("http://www.bcci.tv/")

In [6]:
international_fixture_page=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
international_fixture_page.click()

In [7]:
match_title=[]
match_date=[]
match_place=[]
match_time=[]
series=[]
match_title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
match_date_tags = driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
match_place_tags = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
match_time_tags = driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
series_tags = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in range(len(match_title_tags)):
    match_title.append(match_title_tags[i].text)
    match_date.append(match_date_tags[i].text)
    match_place.append(match_place_tags[i].text)
    match_time.append(match_time_tags[i].text)
    series.append(series_tags[i].text)

# print total length
print(len(match_title), len(match_date), len(match_place), len(match_time), len(series))

# creating a dataframe
df_match=pd.DataFrame({'Match Title':match_title, 'Date':match_date , 'Place':match_place ,'Time':match_time , 'Series':series})
df_match

8 8 8 8 8

,Match Title,Date,Place,Time,Series
0,4th T20I -,3 JAN 2023,"Steyn City School Ground,",1:30 PM IST,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19
1,1st T20I -,3 JAN 2023,"Wankhede Stadium,",7:00 PM IST,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23
2,5th T20I -,4 JAN 2023,"Steyn City School Ground,",1:30 PM IST,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19
3,2nd T20I -,5 JAN 2023,"Maharashtra Cricket Association Stadium,",7:00 PM IST,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23
4,3rd T20I -,7 JAN 2023,"Saurashtra Cricket Association Stadium,",7:00 PM IST,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23
5,1st ODI -,10 JAN 2023,"Barsapara Cricket Stadium,",1:30 PM IST,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23
6,2nd ODI -,12 JAN 2023,"Eden Gardens,",1:30 PM IST,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23
7,3rd ODI -,15 JAN 2023,"Greenfield International Stadium,",1:30 PM IST,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23

In [8]:
# close the automated driver window
driver.close()

# 3. Python program to Scrape the details of selenium exception from guru99.com.

In [9]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("http://www.guru99.com/")

In [10]:
# click on the selenium link
selenium_toggle=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
selenium_toggle.click()

In [11]:
# scroll down the page
driver.execute_script("window.scrollBy(0,4500)")
#click on the selenium exception handling link
selenium_exception_handling_link=driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
selenium_exception_handling_link.click()
# scroll down the page
driver.execute_script("window.scrollBy(0,500)")

In [16]:
exception_name=[]
exception_desc=[]
exception_name_tag=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p')[:41]
for i in exception_name_tag:
    exception_name_desc = i.text.split(': ')
    exception_name.append(exception_name_desc[0])
    exception_desc.append(exception_name_desc[1])

# making a dataframe
df_selenium=pd.DataFrame({'Name':exception_name , 'Description':exception_desc})
df_selenium

,Name,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when an...
1,2. ElementNotSelectableException,This Selenium exception occurs when an element...
2,3. NoSuchElementException,This Exception occurs if an element could not ...
3,4. NoSuchFrameException,This Exception occurs if the frame target to b...
4,5. NoAlertPresentException,This Exception occurs when you switch to no pr...
5,6. NoSuchWindowException,This Exception occurs if the window target to ...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when th...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,9. TimeoutException,Thrown when there is not enough time for a com...
9,10. WebDriverException,This Exception takes place when the WebDriver ...
10,11. ConnectionClosedException,This type of Exception takes place when there ...
11,12. ElementClickInterceptedException,The command may not be completed as the elemen...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,14. ErrorInResponseException,This happens while interacting with the Firefo...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,16. ImeActivationFailedException,This expectation will occur when IME engine ac...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certif...
18,19. InvalidArgumentException,It occurs when an argument does not belong to ...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting ...
21,22. InvalidElementStateException,It occurs when command can’t be finished when ...
22,23. InvalidSessionIdException,This Exception took place when the given sessi...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,25. JavascriptException,This issue occurs while executing JavaScript g...
25,26. JsonException,It occurs when you afford to get the session w...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching ...
30,31. NotFoundException,This Exception is a subclass of WebDriverExcep...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be suc...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web e...
36,37. UnhandledAlertException,This expectation occurs when there is an alert...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,39. UnknownMethodException,This Exception happens when the requested comm...
39,40. UnreachableBrowserException,This Exception occurs only when the browser is...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t send...

In [17]:
# close the automated driver window
driver.close()

# 4. Python program to scrape the details of State-wise GDP of India from statisticstime.com.

In [18]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("http://statisticstimes.com/")

In [20]:
#click on economy link
economy_btn=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button/i')
economy_btn.click()
#click on India from dropdown 
india_toggle_btn=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
india_toggle_btn.click()
time.sleep(2)
#click on GDP state wise
state_GDP_list=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_GDP_list.click()

In [21]:
#scroll the page 
driver.execute_script("window.scrollBy(0,1500)")

state_rank=[]
state_name=[]
state_GSDP_first=[]
state_GSDP_second=[]
share_number=[]
state_GDP=[]

state_rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')[:33]
state_name_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')[:33]
state_GSDP_first_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[:33]
state_GSDP_second_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
share_number_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
state_GDP_tag = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')

for i in range(len(state_rank_tag)):
    state_rank.append(state_rank_tag[i].text)    #scraping state rank
    state_name.append(state_name_tag[i].text)    #scraping state name
    state_GSDP_first.append(state_GSDP_first_tag[i].text)  #scraping state GSDP(18-19)
    state_GSDP_second.append(state_GSDP_second_tag[i].text) #scraping state GSDP(19-20)
    share_number.append(share_number_tag[i].text)   #scraping state share
    state_GDP.append(state_GDP_tag[i].text)        #scraping state GDP
    
# print the total length 
print(len(state_rank), len(state_name) ,len(state_GSDP_first) , len(state_GSDP_second) , len(share_number) , len(state_GDP))
# creating a dataframe
df_state_stats=pd.DataFrame({'Rank':state_rank , 'Name':state_name , 'GSDP(18-19)':state_GSDP_first ,'GSDP(19-20)':state_GSDP_second,'Share':share_number , 'GDP':state_GDP})
df_state_stats

33 33 33 33 33 33

   Rank                       Name GSDP(18-19) GSDP(19-20)   Share      GDP
0     1                Maharashtra   2,632,792           -  13.94%  399.921
1     2                 Tamil Nadu   1,630,208   1,845,853   8.63%  247.629
2     3              Uttar Pradesh   1,584,764   1,687,818   8.39%  240.726
3     4                    Gujarat   1,502,899           -   7.96%  228.290
4     5                  Karnataka   1,493,127   1,631,977   7.91%  226.806
5     6                West Bengal   1,089,898   1,253,832   5.77%  165.556
6     7                  Rajasthan     942,586   1,020,989   4.99%  143.179
7     8             Andhra Pradesh     862,957     972,782   4.57%  131.083
8     9                  Telangana     861,031     969,604   4.56%  130.791
9    10             Madhya Pradesh     809,592     906,672   4.29%  122.977
10   11                     Kerala     781,653           -   4.14%  118.733
11   12                      Delhi     774,870     856,112   4.10%  117.703
12   13                    Haryana     734,163     831,610   3.89%  111.519
13   14                      Bihar     530,363     611,804   2.81%   80.562
14   15                     Punjab     526,376     574,760   2.79%   79.957
15   16                     Odisha     487,805     521,275   2.58%   74.098
16   17                      Assam     315,881           -   1.67%   47.982
17   18               Chhattisgarh     304,063     329,180   1.61%   46.187
18   19                  Jharkhand     297,204     328,598   1.57%   45.145
19   20                Uttarakhand     245,895           -   1.30%   37.351
20   21            Jammu & Kashmir     155,956           -   0.83%   23.690
21   22           Himachal Pradesh     153,845     165,472   0.81%   23.369
22   23                        Goa      73,170      80,449   0.39%   11.115
23   24                    Tripura      49,845      55,984   0.26%    7.571
24   25                 Chandigarh      42,114           -   0.22%    6.397
25   26                 Puducherry      34,433      38,253   0.18%    5.230
26   27                  Meghalaya      33,481      36,572   0.18%    5.086
27   28                     Sikkim      28,723      32,496   0.15%    4.363
28   29                    Manipur      27,870      31,790   0.15%    4.233
29   30                   Nagaland      27,283           -   0.14%    4.144
30   31          Arunachal Pradesh      24,603           -   0.13%    3.737
31   32                    Mizoram      22,287      26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

In [22]:
#close automated driver window
driver.close()

# 5. Python program to scrape the details of trending repositories on Github.com

In [28]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://github.com/")

In [29]:
#click on open source
open_source_toggle=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source_toggle.click()
#click on trending from dropdown
trending_link=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending_link.click()

In [30]:
repository_title=[]
repository_desc=[]
contributors_count=[]
language_used=[]
url_contributors=[]
repository_title_tag=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in repository_title_tag:
    repository_title.append(i.text)
    url_contributors.append(i.get_attribute('href'))
repository_desc_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in repository_desc_tag:
    repository_desc.append(i.text)

In [42]:
language_used_tag_div=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]')
language_used=[]
language_used_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
count = 0
for i in range(len(language_used_tag_div)) :
    if language_used_tag_div[i].text[0:1].isdigit() == False :
        language_used.append(language_used_tag[count].text)
        count = count + 1
    else :
        language_used.append('')

In [31]:
contributors_count=[]
for i in url_contributors :
    driver.get(i)
    time.sleep(1)
    contributors_count_tag = driver.find_elements(By.XPATH, '//span[@class="Counter"]')
    count = contributors_count_tag[len(contributors_count_tag) - 1].text
    if(len(count) > 0) :
        contributors_count.append(count)
    else :
        contributors_count.append(1) # single contributor, no list provided

In [43]:

print(len(repository_title), len(repository_desc), len(contributors_count), len(language_used))
df_repository=pd.DataFrame({'Repository Title':repository_title, 'Repository Description':repository_desc, 'Contributors Count':contributors_count ,'Language':language_used })
df_repository

25 25 25 25

,Repository Title,Repository Description,Contributors Count,Language
0,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,9,TypeScript
1,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,45,Jupyter Notebook
2,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",396,Python
3,2dust / v2rayNG,"A V2Ray client for Android, support Xray core ...",23,Kotlin
4,karpathy / nanoGPT,"The simplest, fastest repository for training/...",2,Python
5,ashemery / exploitation-course,Offensive Software Exploitation Course,1,Python
6,mxssl / sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...,12,
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,76,
8,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,27,Python
9,zakird / crux-top-lists,Downloadable snapshots of the Chrome Top Milli...,1,Python
10,termux / termux-packages,A build system and primary set of packages for...,376,Shell
11,priyankavergadia / GCPSketchnote,If you are looking to become a Google Cloud En...,2,
12,vercel / hyper,A terminal built on web technologies,274,TypeScript
13,alist-org / alist,🗂️A file list program that supports multiple s...,30,Go
14,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,314,C++
15,calcom / cal.com,Scheduling infrastructure for absolutely every...,189,TypeScript
16,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...",141,Rust
17,github / docs,The open-source repo for docs.github.com,"1,628",JavaScript
18,jerryjliu / gpt_index,An index created by GPT to organize external i...,7,Python
19,OpenBB-finance / OpenBBTerminal,"Investment Research for Everyone, Anywhere.",158,Python
20,itzg / docker-minecraft-server,Docker image that provides a Minecraft Server ...,177,Shell
21,pmndrs / zustand,🐻 Bear necessities for state management in React,138,TypeScript
22,google / osv-scanner,Vulnerability scanner written in Go which uses...,15,Go
23,jellyfin / Swiftfin,Native Jellyfin Client for iOS and tvOS,113,Swift
24,laurent22 / joplin,Joplin - an open source note taking and to-do ...,513,TypeScript

In [49]:
#close automated driver window
driver.close()

# 6. Python program to scrape the details of top 100 songs on billiboard.com

In [6]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://www.billboard.com/")

In [9]:
#click on the toggle button
toggle_btn=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[4]/div/div[1]/div[1]/button')
toggle_btn.click()
time.sleep(1)
# click on the charts page
charts_page=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link a-font-primary-bold lrv-u-font-size-28@desktop-xl lrv-u-font-size-18 lrv-u-color-grey:hover u-padding-a-1@desktop-max lrv-u-padding-b-050"]')
charts_page.click()
# click on the hot 100 page 
hot_page=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1"]')
hot_page.click()

In [10]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]
song_name_tag=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for k in range(100) :
    song_name.append(song_name_tag[k*4 + 6].text)
for i in range(110) :
    if (i+1)%11 == 0:
        continue
    artist_name_tag= driver.find_element(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div['+str(i+2)+']/ul/li[4]/ul/li[1]/span')
    artist_name.append(artist_name_tag.text)
last_week_rank_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]')
peak_rank_tag= driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in range(100):
    last_week_rank.append(last_week_rank_tag[2*i].text)
    weeks_on_board.append(last_week_rank_tag[2*i+1].text)
    peak_rank.append(peak_rank_tag[2*i+1].text)
    
#print total length
print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board))

100 100 100 100 100

In [11]:
#making a dataframe
df_songs=pd.DataFrame({'Name':song_name,'Artist':artist_name,'Last week rank':last_week_rank,'Peak rank':peak_rank,'weeks on board':weeks_on_board})
df_songs

,Name,Artist,Last week rank,Peak rank,weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

In [12]:
#close the automatedd driver window
driver.close()

# 7. Python program to scrape the details of Data science recruiters from naukri.com

In [13]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://www.naukri.com/naukri-dot-com-recruiters")

In [14]:
# enter Data Science in search field
search_text=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
search_text.send_keys('\b\b\b\b\b\b\b\b\b\b\b\bDataScience')
#click on search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search_icon.click()

In [15]:
rec_name=[]
rec_designation=[]
company_name=[]
company_loc=[]
skills=[]
rec_name_tag=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
rec_designation_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
company_name_tag=driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
company_loc_tag=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
skills_tag=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')

for i in range(len(rec_name_tag)):
    rec_name.append(rec_name_tag[i].text)
    rec_designation.append(rec_designation_tag[i].text)
    company_name.append(company_name_tag[i].text.split('\n')[2])
    company_loc.append(company_loc_tag[i].text)
    skills.append(skills_tag[i].text)

print(len(rec_name),len(rec_designation), len(company_name),len(company_loc), len(skills))

df_job=pd.DataFrame({'Name':rec_name, 'Designation':rec_designation,'Company Name':company_name , 'Location': company_loc, 'Skills':skills})
df_job

36 36 36 36 36

,Name,Designation,Company Name,Location,Skills
0,Rose Mary,Talent Acquisition Specialist,Flex i Partners,Bengaluru / Bangalore,"Senior Management, Information Technology, Fac..."
1,Jatin Nagpal,Company Recruiter,Cvent India Pvt. Ltd.,Gurgaon,Not Specified
2,Besant Technologies,Assistant Manager,Besant Technologies,Chennai,"Training, Education"
3,Shanthi,Company Recruiter,Iris Technologies,Chennai,Not Specified
4,Dilip,HR Executive,Greens Technologys Velachery,Chennai,"Human Resource Management, Software Development"
5,Sakshi Singh,Company Recruiter,Holcim Services (South Aisa) Limited,Mumbai,Not Specified
6,JTS,HR,Jignasa Techno Solutions Pvt Ltd,Hyderabad / Secunderabad,Not Specified
7,TA,Company Recruiter,Manipal Global Education Services Private...,Bengaluru / Bangalore,Not Specified
8,Niharika,HR,SaltSide,Bengaluru / Bangalore,Not Specified
9,Chandra,Company Recruiter,A2Z CONTACTS PRIVATE LIMITED,Hyderabad / Secunderabad,Not Specified
10,HR,Talent Acquisition Manager,Afitech,Bengaluru / Bangalore,"Corporate Training, Training, Training Coordin..."
11,Joyce Roslin,HR IT Recruiter,Aegan Technologies Pvt Ltd,Coimbatore,"Fetchr India, Intellectyx DataScience Pvt Ltd"
12,Gargi Dave,Company Recruiter,HighRadius Technologies Pvt Ltd,Hyderabad / Secunderabad,Not Specified
13,Binary Fox,Company Recruiter,BINARY FOX SERVICES LLP,Uttar Pradesh - Other,"Frontend, Backend, Fullstack, Tester, Erp, Dwh..."
14,Sandeep Selvan,Sr Consultant,Wenger &amp; Watson,Bengaluru / Bangalore,CONFIDENCIAL
15,Rajashekar,Talent Acquisition Executive,CBSI India Pvt. Ltd.,Bengaluru / Bangalore,Not Specified
16,Anujhgna,HR Manager,Zopak Software Private Limited,Hyderabad / Secunderabad,"html5, css, javascript, Qa Testing, Scala, Ang..."
17,PoojaHR,HR Recruiter,Magneq Software,Hyderabad / Secunderabad,Not Specified
18,BlockSec Privacy,Vice President HR,BlockSec Privacy,Pune,Not Specified
19,Pooja HR,HR Recruiter,Magneq Software,Hyderabad / Secunderabad,Not Specified
20,Namratha,Senior Human Resources Executive,Global Sena Consultancy Pvt. Ltd.,Hyderabad / Secunderabad,Not Specified
21,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,Bengaluru / Bangalore,"Data Science, Engineering, Data Analysis, Big ..."
22,Madhu Mohan Rao Neelam,Company Recruiter,CoArtha Technosolutions Private Limited,Hyderabad / Secunderabad,Not Specified
23,Techsel Solutions,Human Resource Management,Techsel Solutions,Hyderabad / Secunderabad,Not Specified
24,Maran,Director,DISTINCT SYSTEMS &amp; TECHNOLOGIES PRIVATE...,Chennai,Not Specified
25,Sandeep Seth,Co Director,Data Science Technologies Pvt Ltd,Pune,Not Specified
26,CADD Centre Thane I Dombivali I Airoli,Company Recruiter,Sansach Technologies,Mumbai,Not Specified
27,Vijayalakshmi,Senior Recruiter,Avyayh,Chennai,Not Specified
28,Richa Awasthi,TA &amp; Operation Manager,Uberlife Consulting Private Limited,Bengaluru / Bangalore,Not Specified
29,Samuel,Senior Executive TAG,Innominds,Hyderabad / Secunderabad,Not Specified
30,Naveen V,Recruitment Consultant,JoulestoWatts Business Solutions Pvt Ltd,Bengaluru / Bangalore,Not Specified
31,P N Venugopal,Recruitment Consultant,P N Venugopal Associates,Bengaluru / Bangalore,Not Specified
32,Mohideen,Recruitment Consultant,Inceptez Technologies,Chennai,Not Specified
33,Magesh Kumar Quess Corp,Senior Consultant IT Recruitment,Quess Corp Ltd.,Chennai,"Guidewire, Ui Development, Pega Prpc, Pega Rul..."
34,Jyoti Moily,Managing partner,Unitres Business Solutions,THANE,Not Specified
35,Rishika Seth,Chief Financial Officer,Datascience Technologies Pvt. Ltd.,Pune,Not Specified

In [16]:
#close automated driver window
driver.close()

# 8. Python program to Scrape the details of Highest selling novels.

In [17]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [18]:
driver.execute_script("window.scrollBy(0,2000)")

In [19]:
book_name=[]
author_name=[]
volume_sold=[]
book_publisher=[]
book_genre=[]
book_name_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
author_name_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
volume_sold_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
book_publisher_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
book_genre_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')

for i in range(len(book_name_tag)):
    book_name.append(book_name_tag[i].text)
    author_name.append(author_name_tag[i].text)
    volume_sold.append(volume_sold_tag[i].text)
    book_publisher.append(book_publisher_tag[i].text)
    book_genre.append(book_genre_tag[i].text)

print(len(book_name), len(author_name), len(volume_sold), len(book_publisher), len(book_genre))
df_books=pd.DataFrame({'Book Name': book_name, 'Author Name':author_name , 'Volumes sold': volume_sold, 'Publisher': book_publisher, 'Genre':book_genre})
df_books

100 100 100 100 100

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [20]:
#close automated driver window
driver.close()

# 9. Python program to Scrape the details most watched tv series of all time from imdb.com.

In [21]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("http://www.imdb.com/list/ls095964455/")

In [22]:
tv_shows_name=[]
tv_shows_year=[]
tv_shows_genre=[]
tv_shows_run_time=[]
tv_shows_ratings=[]
tv_shows_votes=[]
# scraping tv show name and tv show year
tv_shows_name_tags= driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in range(100):
    tv_shows_name_list=tv_shows_name_tags[i].text.strip('\n').split('(')
    tv_shows_name.append(tv_shows_name_list[0])
    tv_shows_year.append(tv_shows_name_list[1])
# scraping tv show genre
tv_shows_genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in tv_shows_genre_tags:
    tv_shows_genre.append(i.text)
# scraping tv show run time
tv_shows_run_time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in tv_shows_run_time_tags:
    tv_shows_run_time.append(i.text)
# scraping tv show rating
tv_shows_ratings_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in tv_shows_ratings_tags:
    tv_shows_ratings.append(i.text)
# scraping tv show votes
tv_shows_votes_tags=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in tv_shows_votes_tags:
    tv_shows_votes.append(i.text)
    
# print total length 
print(len(tv_shows_name),len(tv_shows_year),len(tv_shows_genre),len(tv_shows_run_time),len(tv_shows_ratings),len(tv_shows_votes))
# creating a dataframe
df_tv_shows=pd.DataFrame({'TV Show Name':tv_shows_name , 'TV Show Year':tv_shows_year, 'TV Show Genre': tv_shows_genre,'TV Show Run Time': tv_shows_run_time,'TV Show Ratings':tv_shows_ratings , 'TV Show Votes':tv_shows_votes})
df_tv_shows

100 100 100 100 100 100

,TV Show Name,TV Show Year,TV Show Genre,TV Show Run Time,TV Show Ratings,TV Show Votes
0,1. Game of Thrones,2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,564"
1,2. Stranger Things,2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,845"
2,3. The Walking Dead,2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,370"
3,4. 13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,281"
4,5. The 100,2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,383"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),Drama,42 min,7.4,"50,383"
96,97. A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,004"
97,98. Criminal Minds,2005– ),"Crime, Drama, Mystery",42 min,8.1,"200,000"
98,99. Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,719"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"247,051"

In [23]:
# close the driver
driver.close()

# 10. Python program to scrape Details of Datasets from UCI machine learning repositories.

In [24]:
# open webdriver chrome
driver=webdriver.Chrome("chromedriver.exe")
# maximize the automated chrome window
driver.maximize_window()
# open amazon on the the automated chrome window
driver.get("https://archive.ics.uci.edu/")

In [25]:
view_data_set = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
view_data_set.click()

In [26]:
data_set_name=[]
data_type=[]
default_task=[]
attribute_type=[]
instances=[]
attribute=[]
data_set_year=[]
data_set_name_tag = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table')
data_type_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')[1:]
default_task_tag = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')[1:]   
attribute_type_tag = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')[1:]
instances_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')[1:]
attribute_tag = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')[1:]
year_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')[1:]
for i in range(len(data_set_name_tag)):
    data_set_name.append(data_set_name_tag[i].text)
    data_type.append(data_type_tag[i].text)
    default_task.append(default_task_tag[i].text)
    attribute_type.append(attribute_type_tag[i].text)
    instances.append(instances_tag[i].text)
    attribute.append(attribute_tag[i].text)
    data_set_year.append(year_tag[i].text)

print(len(data_set_name) , len(data_type) , len(default_task) , len(attribute_type), len(instances) , len(attribute) , len(data_set_year))

df_data_set=pd.DataFrame({'Dataset Name':data_set_name , 'Data Type':data_type , 'Task':default_task , 'Attribute types': attribute_type, 'no. of instances':instances, 'no. of attributes':attribute, 'Year':data_set_year})
df_data_set

622 622 622 622 622 622 622

,Dataset Name,Data Type,Task,Attribute types,no. of instances,no. of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

In [27]:
# close the driver
driver.close()